body {
    margin: 0;
    line-height: normal;
}



:root {
    /* fonts */
    --font-gothic-a1: "Gothic A1";

    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-45xl: 64px;
    --font-size-19xl: 38px;
    --font-size-32xl: 51px;

    /* Colors */
    --color: #e0e0e0;

    /* Gaps */
    --gap-132xl: 151px;
    --gap-xl: 20px;
    --gap-31xl: 50px;
    --gap-34xl: 53px;

    /* Animations */
    --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main {
    padding-top: 60px;
    background-image: url(https://tetiana2309.github.io/Portfolio-UI-UX-Designer/images/main.gif);
}



.tetiana-varzonova,
.uiux-designer {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 26px;
    white-space: nowrap;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {

    .tetiana-varzonova,
    .uiux-designer {
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {

    .tetiana-varzonova,
    .uiux-designer {
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
    }
}






.frame-a {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color);
    font-family: var(--font-gothic-a1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .frame-a {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .frame-a {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
}



.web-magic {
    position: relative;
    font-size: 64px;
    letter-spacing: 0.1em;
    display: block;
    font-weight: 400;
    font-family: "Gothic A1", sans-serif;
    max-width: 100%;
    color: var(--1-);
    line-height: 1.56;
    width: 100%;

}


@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .web-magic {
        font-size: 36px;
        line-height: 110%;

    }
}



@media only screen and (min-width: 300px) and (max-width: 480px) {
    .web-magic {
        font-size: 36px;
        line-height: 110%;

    }
}


.bringing-ideas-to {
    flex-shrink: 0;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 156%;
    letter-spacing: 0.1em;
    color: var(--1-);
    height: auto;
    width: 100%;
    max-width: 1029px;
    margin-left: 112px;

}






@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .bringing-ideas-to {
        font-size: 36px;
        margin-left: 10px;
        line-height: 110%;

    }
}



@media only screen and (min-width: 300px) and (max-width: 480px) {
    .bringing-ideas-to {
        font-size: 36px;
        line-height: 110%;
        margin-left: 10px;

    }
}



.frame-d,
.web-magic-frame {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {

    .frame-d {
        flex-direction: column;
        align-items: center;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {

    .frame-d {
        flex-direction: column;
        align-items: center;
    }

}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .web-magic-frame {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* Выравниваем по левому краю */
    }

    .frame-d {
        width: 100%;
        text-align: left;
        /* Выравниваем текст по левому краю */
    }

    .web-magic {
        margin: 0;
        /* Сбрасываем внешние отступы у заголовка "WEB MAGIC" */
    }
}



.frame-d h1.web-magic {
    margin-bottom: 10px;

}

.frame-d h1.bringing-ideas-to {
    margin-top: 10px;

}


.frame-d {
    width: 1140px;
    flex-direction: column;
    justify-content: flex-start;

}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .frame-d {
        width: calc(100% - 20px);
        /* Установите отступ от края на ваш выбор */
        margin-left: 10px;
        /* Половина отступа для выравнивания заголовков */
        margin-right: 10px;

    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .frame-d {
        width: calc(100% - 20px);
        /* Установите отступ от края на ваш выбор */
        margin-left: 10px;
        /* Половина отступа для выравнивания заголовков */
        margin-right: 10px;
        /* Половина отступа для выравнивания заголовков */
        /* Другие стили для мобильных устройств, если необходимо */
    }
}


.web-magic-frame {
    width: 1240px;
    flex-direction: row;
    justify-content: flex-end;
    padding: 30px 0 30px;
    box-sizing: border-box;
    text-align: left;
    font-size: 64px;
    color: var(--color);
    font-family: var(--font-gothic-a1);
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .web-magic-frame {
        font-size: 40px;
        /* Измените размер шрифта по необходимости для планшетов */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .web-magic-frame {
        font-size: 32px;
        /* Измените размер шрифта по необходимости для мобильных устройств */
    }
}


.social-button {
    width: 1240px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
}




.social-button {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.social-button {
    justify-content: flex-start;

    max-width: 100%;
}




.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}









.social-link-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 26px;
}



.link {
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-behance,
.icon-instagram,
.icon-linkedin {
    height: 48px;
    width: 48px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 48px;
    justify-content: center;
    align-items: center;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {

    .icon-behance,
    .icon-instagram,
    .icon-linkedin {
        height: 40px;
        width: 40px;
        /* Дополнительные стили или изменения по необходимости */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {

    .icon-behance,
    .icon-instagram,
    .icon-linkedin {
        height: 32px;
        width: 32px;
        /* Дополнительные стили или изменения по необходимости */
    }
}




.social-link-frame {
    fill: var(--color);
}

.knopka_povorota {
    position: relative;
    color: var(--color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.knopka_povorota:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid var(--color);
    content: '';
    z-index: -1;
    border-radius: 50%;
}

.knopka_povorota:before {
    color: var(--color);
}

.knopka_povorota:before,
.knopka_povorota:after {
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.knopka_povorota:hover,
.knopka_povorota:active,
.knopka_povorota.hover {
    color: #c0392b;
}

.knopka_povorota:hover:after,
.knopka_povorota:active:after,
.knopka_povorota.hover:after {
    border-color: transparent #c0392b;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* Добавлен стиль, чтобы изменить цвет иконки при фокусе кнопки */
.knopka_povorota:hover .logo-icon,
.knopka_povorota:active .logo-icon,
.knopka_povorota.hover .logo-icon,
.knopka_povorota:focus .logo-icon,
.knopka_povorota.focus .logo-icon {
    fill: #c0392b;
    /* Замените fill на свой цвет иконки */
}







.contact-me {
    position: relative;
    font-size: var(--font-size-5xl);
    letter-spacing: 0.1em;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--font-gothic-a1);
    color: var(--color);
    text-align: center;
}



.contact-me:hover,
.contact-me:focus {
    color: #000000;
    transition: color var(--transition-duration-and-func);
}



.btn {
    text-decoration: none;
    border: 1px solid var(--color);
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: var(--color);
    text-transform: uppercase;
    width: 230px;
    height: 52px;
    border-radius: 10px;
}

.btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(255, 146, 146, 0.4);
    border: 1px solid #c0392b;
    color: #c0392b;
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 230px;
    height: 52px;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 146, 146, 0.4),
            transparent);
    transition: all 650ms;
}

.btn:hover:before {
    left: 100%;
}




/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .social-button {
        flex-direction: column;
        align-items: center;
    }

    .social-links-frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /* Уменьшаем отступ между иконками */
    }

    .knopka_povorota {
        margin-top: 10px;
        /* Добавляем отступ между иконками и кнопкой */
    }

    .con-btn {
        margin-top: 10px;
        /* Добавляем отступ сверху для кнопки */
    }

    /* Позиционируем иконки над кнопкой */
    .social-link-frame {
        order: -1;
    }
}








.main {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 20px;
    box-sizing: border-box;
    gap: var(--gap-mobile);
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-mobile);
    color: var(--color);
    font-family: var(--font-gothic-a1);
    transition: transform 0.5s ease-in-out;
}

@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .main {
        padding: 20px;
        /* Ваши стили для планшетов */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .main {
        padding: 10px;
        /* Ваши стили для мобильных устройств */
    }
}

/*==============ABOUT ME================*/

:root {

    /* Colors */
    --color: #e0e0e0;
    --color-white: #fff;

    /* Gaps */
    --gap-161xl: 180px;
    --gap-81xl: 100px;
    --gap-49xl: 68px;


}

.about-me-title {
    font-family: "Gothic A1", sans-serif;
    margin: 0;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 32px;
    line-height: 104%;
    letter-spacing: 0.1em;
}



/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .about-me-title {
        font-size: 24px;
        line-height: 30px;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .about-me-title {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
        /* Добавляем отступ снизу в мобильной версии */
    }
}

.list-about-me {
    margin-right: 312px;
    width: 504px;
    margin: 0;
    flex: 1;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .list-about-me {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .list-about-me {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }
}


.frame-greetings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .frame-greetings {
        flex-direction: column;
        align-items: flex-start;

        /* Установите желаемый размер зазора между элементами */
        min-width: 100%;
        /* Ширина минимальная на весь экран */
    }
}


@media only screen and (min-width: 300px) and (max-width: 480px) {
    .frame-greetings {
        flex-direction: column;
        align-items: center;

        /* Установите желаемый размер зазора между элементами */
        min-width: 100%;
        /* Ширина минимальная на весь экран */
    }
}



.frame-greetings {
    width: 476px;
    justify-content: flex-start;
    max-width: 100%;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .frame-greetings {
        width: 100%;
        /* Ширина 100% для полного заполнения экрана на планшетах */

    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .frame-greetings {

        width: 100%;
        /* Ширина 100% для полного заполнения экрана на мобильных устройствах */
    }
}



.frame-greetings {
    width: 504px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-81xl);
    min-width: 504px;
}



@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .frame-greetings {
        width: 100%;
        /* Ширина 100% для полного заполнения экрана на планшетах */
        min-width: auto;
        /* Сброс минимальной ширины */
        gap: 0;
    }
}


@media only screen and (min-width: 300px) and (max-width: 480px) {
    .frame-greetings {
        width: 100%;
        /* Ширина 100% для полного заполнения экрана на мобильных устройствах */
        min-width: auto;
        /* Сброс минимальной ширины */
        gap: 0;
    }
}

.about-me {
    width: 100%;
    position: relative;
    background-color: #000;
    overflow: hidden;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 60px 100px 60px;
    gap: 20px;
    letter-spacing: normal;
    text-align: left;
    color: var(--color);
    font-family: var(--body);
    transition: transform 0.5s ease-in-out;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .about-me {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        justify-content: flex-start;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .about-me {
        padding: 40px 20px;
        justify-content: center;
    }
}



.about-me-title {
    font-family: "Gothic A1", sans-serif;
    margin: 0;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 32px;
    line-height: 104%;
    letter-spacing: 0.1em;

}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .about-me-title {
        font-size: 24px;
        line-height: 120%;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .about-me-title {
        font-size: 24px;
        line-height: 120%;
    }
}



.greetings-to-you,
.i-am-inspired,
.my-experience-is {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.2em;
    line-height: 26px;
    font-family: "Gothic A1", sans-serif;

}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {

    .greetings-to-you,
    .i-am-inspired,
    .my-experience-is {
        font-size: 14px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 480px) {

    .greetings-to-you,
    .i-am-inspired,
    .my-experience-is {
        align-self: stretch;
        position: relative;
        letter-spacing: 0.2em;
        line-height: 24px;
        font-family: "Gothic A1", sans-serif;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        font-size: 14px;
        /* Дополнительные стили или изменения по необходимости */
    }
}

.my-experience-is {
    height: 130px;
    display: inline-block;
}

.list-about-me {}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .list-about-me {
        margin-right: 10px;
        /* Уменьшаем отступ справа для планшетов */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .list-about-me {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 5px;
        /* Уменьшаем отступ справа для мобильных устройств */
    }
}

.list-about-me>div {
    margin-bottom: 30px;
}


/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .list-about-me>div {
        margin-bottom: 10px;
        /* Измените отступ для планшетов по вашему усмотрению */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .list-about-me>div {
        margin-bottom: 5px;
        /* Измените отступ для мобильных устройств по вашему усмотрению */
    }
}

.container {
    display: flex;
    gap: 360px;

}


/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .container {
        gap: 0;
        width: 100%;
        flex-direction: column;
        /* Изменение направления flex контейнера на вертикальное */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .container {
        flex-direction: column;
        /* Изменение направления flex контейнера на вертикальное */
    }
}





.subframe-foto {
    flex: 1;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .subframe-foto {
        flex: 1;
        /* Сохранить текущее значение flex для планшетов */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .subframe-foto {
        flex: 1;
        /* Сохранить текущее значение flex для мобильных устройств */
    }
}


.foto-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .foto-icon {
        max-width: 100%;
        /* Сделать изображение 100% ширины в пределах родительского контейнера */
        max-height: auto;
        /* Автоматическая высота, чтобы сохранить пропорции изображения */
        object-fit: cover;
        /* Заполнить контейнер, сохраняя пропорции */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .foto-icon {
        width: 300px;
        /* Сделать изображение 100% ширины в пределах родительского контейнера */
        height: 300px;
        /* Автоматическая высота, чтобы сохранить пропорции изображения */
        object-fit: cover;
        /* Заполнить контейнер, сохраняя пропорции */
        align-items: center;
        justify-content: center;
    }
}




.about-me,
.subframe-foto {
    display: flex;
    box-sizing: border-box;
}

.subframe-foto {
    height: 424px;
    width: 424px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-sm);
    min-width: 424px;
    max-width: 100%;
    font-size: var(--font-size-5xl);
    color: red;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .subframe-foto {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 var(--padding-sm);
        min-width: 0;
        font-size: var(--font-size-mobile);
        color: red;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .subframe-foto {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 var(--padding-xs);
        min-width: 0;
        font-size: var(--font-size-small);
        color: red;
    }
}




.my-experience-is {
    height: 130px;
    display: inline-block;
}





/*=====================MY_SERVICES===================*/

body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --body: "Gothic A1";

    /* font sizes */
    --font-size: 24px;
    --font-size-lgi: 19px;
    --body-size: 18px;
    --h2-size: 48px;

    /* Colors */
    --color: #e0e0e0;
    --color-white: #fff;

    /* Gaps */
    --gap-21xl: 40px;
    --gap-xl: 20px;
    --gap-49xl: 68px;
    --gap-5xs: 8px;
    --gap-97xl: 116px;

    /* Paddings */
    --padding-3xl: 22px;
    --padding-16xl: 35px;


}

.affordable-web-design,
.my-services1 {
    position: relative;
    letter-spacing: 0.1em;
    display: inline-block;
    flex-shrink: 0;
}






.my-services1 {
    font-family: "Gothic A1", sans-serif;
    margin: 0;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 32px;
    line-height: 104%;
    letter-spacing: 0.1em;
}


/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .my-services1 {
        font-size: 24px;
        line-height: 120%;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .my-services1 {
        font-size: 24px;
        line-height: 120%;
    }
}


.affordable-web-design {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 26px;
    font-family: "Gothic A1", sans-serif;

}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .affordable-web-design {
        font-size: 14px;
        line-height: 24px;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .affordable-web-design {
        font-size: 14px;
        line-height: 24px;
    }
}



.my-services-label {
    align-self: stretch;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .my-services-label {
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */

        /* Выравниваем элементы по центру по вертикали */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .my-services-label {
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */

        /* Выравниваем элементы по центру по вертикали */
    }
}




.empty-frame,
.inner-frame {
    justify-content: flex-start;
}


.frame-line-split {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.1em;
    line-height: 26px;
    display: inline-block;
    width: 14px;
    height: 26px;
}



.creating-dream {
    position: absolute;
    top: 34px;
    left: 7px;
    border-right: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 1px;
    height: 167px;
}





.line-frame {
    height: 200px;
    width: 14px;
    position: relative;
}

.creating-websites-from {
    width: 208px;
    position: relative;
    letter-spacing: 0.2em;
    line-height: 26px;
    display: inline-block;
    flex-shrink: 0;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .creating-websites-from {
        font-size: 14px;
        line-height: 24px;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .creating-websites-from {
        font-size: 14px;
        line-height: 24px;
    }
}


.landing-page-frame {
    flex: 1;
    border-radius: var(--br-3xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-16xl);
    font-size: var(--body-size);
}



.redesign-frame {
    width: 314px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-5xs);
    background-image: url(./images/7Tw.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}

.redesign-frame::before {
    content: '';
    display: block;
    padding-top: 100%;
    /* Соотношение сторон, чтобы обеспечить прямоугольник 1:1 (можно изменить) */
}

.redesign-frame img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Чтобы гифка занимала 100% ширины родительского блока */
}





.creating-frame {
    width: 946px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size);
    color: var(--color-white);
}


.empty-frame {
    width: 1156px;
    flex-direction: column;
    gap: var(--gap-97xl);
}



.inner-frame {
    width: 1240px;
    flex-direction: row;
    text-align: left;
    font-size: var(--h2-size);
    color: var(--color);
    font-family: var(--body);
}


.creating-frame,
.empty-frame,
.inner-frame {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}



.creating-frame {
    width: 946px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size);
    color: var(--color-white);
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .creating-frame {
        width: 100%;
        /* Занимает 100% ширины экрана */
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */
        justify-content: center;
        /* Выравниваем элементы по центру по вертикали */
        gap: 30px;
        /* Задаем отступ между элементами */
        align-items: center;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .creating-frame {
        width: 100%;
        /* Занимает 100% ширины экрана */
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */
        justify-content: center;
        /* Выравниваем элементы по центру по вертикали */
        gap: 30px;
        /* Задаем отступ между элементами */
    }
}




.creating-website {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 26px;
}

.frame-line-split {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    height: 200px;
    width: 14px;
    position: relative;

}


.line-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    height: 200px;
    width: 14px;
    position: relative;
}

.my-services {
    width: 100%;
    position: relative;
    background-color: #000;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px 20px;
    box-sizing: border-box;
    gap: var(--gap-21xl);
    letter-spacing: normal;
    text-align: left;
    display: flex;
    align-items: center;
    color: red;
    font-family: var(--body);
    transition: transform 0.5s ease-in-out;
}








/*=================PORTFOLIO==============*/
body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font: "Gothic A1";

    /* font sizes */
    --font-size: 24px;
    --font-size-lgi: 19px;
    --h2-size: 48px;

    /* Colors */
    --color: #e0e0e0;

    /* Gaps */
    --gap-119xl: 138px;
    --gap-xl: 20px;
    --gap-49xl: 68px;
}

.lending-page-for,
.portfolio {
    position: relative;

}

.lending-page-for {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 26px;
    font-family: "Gothic A1", sans-serif;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .lending-page-for {
        font-size: 14px;
        line-height: 24px;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .lending-page-for {
        font-size: 14px;
        line-height: 24px;
    }
}

.portfolio-parent {

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    max-width: 100%;
}

.portfolio {
    font-family: "Gothic A1", sans-serif;
    margin: 0;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 32px;
    line-height: 104%;
    letter-spacing: 0.1em;
}


/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .portfolio {
        font-size: 24px;
        line-height: 120%;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .portfolio {
        font-size: 24px;
        line-height: 120%;
    }
}










/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .lending-page-for {
        font-size: 14px;
        line-height: 24px;
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .lending-page-for {
        font-size: 14px;
        line-height: 24px;
    }
}

.frame-child,
.frame-item,
.portfolio-and-info {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.frame-child {
    width: 527px;
    max-height: 100%;
    max-width: 100%;
}

.frame-item,
.portfolio-and-info {
    height: 413px;
    width: 304px;
}

.portfolio-and-info {
    height: 393px;
    width: 197px;
}



.frame-parent {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.frame-group {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: 106px;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .frame-group {
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */
        align-items: center;
        /* Выравниваем элементы по центру по вертикали */
        gap: 20px;
        /* Изменяем расстояние между элементами */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .frame-group {
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */
        align-items: center;
        /* Выравниваем элементы по центру по вертикали */
        gap: 20px;
        /* Изменяем расстояние между элементами */
    }
}




.frame-parent {
    width: 1240px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-55xl);
    text-align: left;
    font-size: var(--h2-size);
    color: var(--color);
    font-family: var(--font);
}

.portfolio-1 {
    width: 100%;
    position: relative;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 20px;
    box-sizing: border-box;
    gap: var(--gap-119xl);
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size);
    color: red;
    font-family: var(--font);
    transition: transform 0.5s ease-in-out;
}


/*===========CONTACT_FORM=========*/


body {
    margin: 0;
    line-height: normal;
}

:root {

    --font: "Gothic A1";



    --font-size-lgi: 19px;
    --font-size-base: 16px;
    --h2-size: 48px;


    --color: #e0e0e0;
    --color-white: #fff;


    --gap-117xl: 136px;
    --gap-45xl: 64px;
    --gap-77xl: 96px;
    --gap-7xl: 26px;
    --gap-41xl: 60px;


    --padding-31xl: 50px;
    --padding-xl: 20px;
    --padding-5xl: 24px;
}



.contact-form {
    font-family: "Gothic A1", sans-serif;
    margin: 0;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 32px;
    line-height: 104%;
    letter-spacing: 0.1em;


}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .contact-form {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 120%;

    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .contact-form {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 120%;
    }
}

.form {
    margin-top: 30px;
    font-family: "Gothic A1", sans-serif;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .form {
        width: 230px;
        margin: 0 auto;

    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .form {

        width: 230px;

    }
}



.form__group {
    margin-bottom: 40px;

}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .form__group {
        align-items: center;
        margin-bottom: 20px;

    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .form__group {
        align-items: center;
        margin-bottom: 10px;

    }
}


.form__group input,
.form__group label,
.form__group textarea {
    display: block;
    width: 100%;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {

    .form__group input,
    .form__group textarea,
    .form__group label {
        margin: 0 auto;
        width: 230px;
        /* Измените ширину по вашему усмотрению для планшетов */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {

    .form__group input,
    .form__group textarea,
    .form__group label {
        width: 230px;

    }
}


.form__group input {
    height: 52px;
    padding: 0 10px;
    line-height: 30px;
    background-color: transparent;
    border-width: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--color);
    width: 100%;
    color: var(--color);
    font-size: 12px;
}





.form__group label {
    margin-bottom: 5px;
    font-size: 12px;
}


/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .form__group label {
        font-size: 10px;

    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .form__group label {
        font-size: 10px;

    }
}



.form__submit-button button {
    border: 1px solid var(--color);
    text-decoration: none;

    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: var(--color);
    text-transform: uppercase;
    width: 230px;
    height: 52px;
    border-radius: 10px;
    background-color: transparent;
    /* Добавим прозрачный фон */
}

.form__submit-button:hover button {
    box-shadow: 1px 1px 25px 10px rgba(255, 146, 146, 0.4) !important;
    border: 1px solid #c0392b !important;
    color: #c0392b !important;
}

.form__submit-button button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 230px;
    height: 52px;
    background: linear-gradient(120deg, transparent, rgba(255, 146, 146, 0.4), transparent);
    transition: all 650ms;
}

.form__submit-button:hover button:before {
    left: 100%;
}


.form__submit-block,
.form__send-result {
    width: 100%;
    /* добавлено */
}

.form__send-result {
    padding: 10px 10px 0 10px;
    text-align: center;
    font-size: 12px;
    color: #e0e0e0;
}






.container-frame {
    width: 527px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;

}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .container-frame {
        margin: 0 auto;
        width: 100%;
        gap: 20px;

    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .container-frame {

        width: 100%;
        gap: 30px;

    }
}

.consultations-with-me {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-weight: 400;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 26px;
    font-family: "Gothic A1", sans-serif;

}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .consultations-with-me {
        font-size: 14px;
        line-height: 24px;

    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .consultations-with-me {
        font-size: 14px;
        line-height: 24px;

    }
}



.price-and-consult-frame {
    width: 398px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-45xl);
    max-width: 100%;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .price-and-consult-frame {
        margin-top: 20px;
        width: 100%;

        gap: 20px;

    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .price-and-consult-frame {
        margin-top: 20px;
        width: 100%;

        gap: 20px;

    }
}





.design-prices-frame {
    align-self: stretch;
    height: 295px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;

}



/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .design-prices-frame {
        height: auto;
        /* Изменение высоты для планшетов (пример) */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .design-prices-frame {
        height: auto;
        /* Изменение высоты для мобильных устройств (пример) */
    }
}

.affordable-pricing-frame,
.free-consultation-frame {

    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}



/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .design-prices-frame {
        height: 200px;
        /* Пример уменьшенной высоты для мобильных устройств */
        /* Дополнительные стили для мобильных устройств (при необходимости) */
    }
}



.free-consultation-frame {
    align-self: stretch;
    gap: var(--gap-117xl);
}



/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .free-consultation-frame {
        gap: var(--gap-xs);
        /* Пример изменения зазора для мобильных устройств */
        /* Дополнительные стили для мобильных устройств (при необходимости) */
    }
}




.affordable-pricing-frame {
    width: 503px;
    min-width: 503px;
    min-height: 643px;

}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .affordable-pricing-frame {
        width: 100%;
        min-width: 100%;
        min-height: auto;
        /* Дополнительные стили для планшетов (при необходимости) */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .affordable-pricing-frame {
        width: 100%;
        min-width: 100%;
        min-height: auto;
        /* Дополнительные стили для мобильных устройств (при необходимости) */
    }
}




.portfolio-3 {
    width: 100%;
    position: relative;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    padding: 60px 100px 100px;
    box-sizing: border-box;
    gap: 20px;
    letter-spacing: normal;
    text-align: left;

    color: var(--color);
    font-family: var(--font);
    transition: transform 0.5s ease-in-out;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1158px) {
    .portfolio-3 {
        align-items: center;
        flex-direction: column;
        padding: 60px 20px 100px;
        justify-content: flex-start;
        /* Дополнительные стили для планшетов (при необходимости) */
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .portfolio-3 {
        align-items: center;
        flex-direction: column;
        padding: 40px 20px 100px;
        justify-content: flex-start;
        /* Дополнительные стили для мобильных устройств (при необходимости) */
    }
}